#text {
    z-index: 1;
    display: flex;
    left: 60%;
    background-color: #FFFFFF;
    position: fixed;
    height: 100%;
    width: auto;
}

#img {
    display: inline-block;
    vertical-align: middle;
    margin-top: 150px;
    margin-left: 250px;
}

#img img {
    max-width: 100px;
    height: auto;
    vertical-align: middle;
}

#img h2 {
    display: inline-block;
    margin: 0;
    padding-left: 10px;
    font-family: roboto;
    vertical-align: middle;
}

#loanAcc {
    font-weight: bold;
    color: #2C76C9;
}

#sign {
    position: absolute;
    margin-top: 40px;
    left: 340px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.01em;
    color: #454545;
}

#pls {
    position: absolute;
    margin-top: 60px;
    left: 276px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #042747;
}


#text1 {
    font-size: 15px;
}

.label1 {
    position: absolute;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin-top: 220px;
    display: flex;
    align-items: center;
    left: 190px;
    color: #5F6E74;
}

.label2 {
    position: absolute;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin-top: 297px;
    display: flex;
    align-items: center;
    left: 190px;
    color: #5F6E74;
}

.email {
    box-sizing: border-box;
    box-shadow: none;
    position: absolute;
    width: 441px !important;
    height: 45px;
    left: 185px;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #E9F3F9;
    border-radius: 8px;
    margin-top: 420px;
}

.forgot_email {
    box-sizing: border-box;
    box-shadow: none;
    position: absolute;
    width: 441px !important;
    height: 45px;
    left: 185px;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #E9F3F9;
    border-radius: 8px;
    margin-top: 250px;
}

.password {
    box-sizing: border-box;
    box-shadow: none;
    position: absolute;
    width: 441px !important;
    height: 45px;
    left: 185px;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #E9F3F9;
    border-radius: 8px;
    margin-top: 530px;

}

.forgot_password {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    right: -80px;
    display: flex;
    align-items: center;
    margin-top: 400px;
    color: #0088CE;
}

.submit {
    position: absolute;
    width: 441px;
    height: 52px;
    left: 185px;
    color: white;
    border: 1px solid #E9F3F9;
    box-shadow: 4px 6px 10px rgba(0, 136, 206, 0.12);
    border-radius: 4px;
    font-size: large;
    margin-top: 650px;
}

.submit_forgot {
    position: absolute;
    width: 441px;
    height: 52px;
    left: 185px;
    color: white;
    border: 1px solid #E9F3F9;
    box-shadow: 4px 6px 10px rgba(0, 136, 206, 0.12);
    border-radius: 4px;
    font-size: large;
    margin-top: 320px;
}

#newuser {
    margin-left: 295px;
    margin-top: 550px;
}

#ftpwd {
    position: absolute;
    margin-top: 30px;
    left: 310px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 45px;
    letter-spacing: 0.01em;
    color: #454545;
}

#otpverification {
    margin-left: 50px;

}

#enterotp {
    margin-left: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-top: 120px;
}

#otpbutton {
    margin-top: 40px;
    margin-left: 40px;
}

#cancelbtn {
    margin-left: 40px;
    width: 150px;
    height: 40px;
}

.pwd1 {
    margin-left: 220px;
    margin-top: 150px;
}
#pswd{
    height: 35px;
 }

#newpwd {
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;

}
 
#otpbtn1 {
    margin-left: 5px;
    margin-top: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.verifyotpbutton {
    color: white;
    background-color: #0088CE;
    border-color: white;
    width: 150px;
    height: 40px;
}

#error-message {
    color: red;
    font-size: 14px;
    margin-left: 200px;
}

.otp_input{
    margin-left: 110px;
    margin-top: 50px;
}